.button {
  background: #1fabec;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  display: inline-block; }

.button:hover {
  color: #fff; }

p, h3, h2 {
  font-family: 'Open Sans', sans-serif; }

h2 {
  font-size: 38px;
  padding-bottom: 42px; }

h2, p {
  font-weight: 300; }

p {
  font-size: 15px;
  line-height: 25px; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

a:hover {
  text-decoration: none; }

.right-arrow {
  background-image: url(../images/right-arrow.png);
  width: 7px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }
.overlay-content ul {
  padding: 0; }

header {
  position: absolute;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background: linear-gradient(to bottom, #000, rgba(255, 0, 0, 0));
  color: #fff;
  z-index: 1; }
  header .container-fluid .header-menu div {
    display: inline-block;
    padding: 8px 18px; }
  header .container-fluid .header-menu .menu-icon {
    margin: 29px 0;
    border-right: 1px solid #fff;
    cursor: pointer; }
    header .container-fluid .header-menu .menu-icon:before {
      content: '';
      background-image: url(../images/menu-icon.png);
      width: 23px;
      height: 12px;
      display: inline-block;
      background-repeat: no-repeat;
      margin-right: 10px; }
  header .container-fluid .logo {
    text-align: center; }
    header .container-fluid .logo img {
      padding-top: 75px; }
  header .container-fluid .contact-menu {
    text-align: right; }
    header .container-fluid .contact-menu ul {
      padding: 18px 22px;
      display: inline-block; }
      header .container-fluid .contact-menu ul li {
        display: inline-block;
        padding: 10px; }
        header .container-fluid .contact-menu ul li a {
          color: #fff; }
    header .container-fluid .contact-menu a.button {
      padding: 10px;
      background: #1fabec;
      padding: 29px 26px;
      margin-right: -15px;
      color: #fff;
      float: right; }

.main-banner {
  background-size: cover;
  position: relative; }
  .main-banner .banner-content {
    bottom: 8%;
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute; }
    .main-banner .banner-content .banner-header {
      font-size: 43px;
      text-shadow: 1px 2px 9px #000000; }
    .main-banner .banner-content .scroll-down {
      display: inline-block;
      cursor: pointer;
      color: #fff; }
      .main-banner .banner-content .scroll-down i {
        background-image: url(../images/down-arrow.png);
        width: 15px;
        height: 9px;
        display: inline-block;
        background-repeat: no-repeat;
        text-shadow: 1px 2px 9px #000000; }
    .main-banner .banner-content .popup-box {
      position: fixed;
      right: 2%;
      width: 271px;
      bottom: 8%;
      background: #fff;
      padding: 16px;
      color: #3c3c3c;
      display: none;
      -webkit-box-shadow: 0px 0px 47px -15px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 47px -15px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 47px -15px rgba(0, 0, 0, 0.75);
      z-index: 1; }
      .main-banner .banner-content .popup-box i {
        color: #fff;
        background: #1fabec;
        font-size: 15px;
        position: absolute;
        top: -9px;
        right: -13px;
        text-shadow: none;
        border-radius: 55px;
        padding: 4px 7px;
        cursor: pointer; }
      .main-banner .banner-content .popup-box .upper-caption {
        font-size: 11px;
        color: #1fabec;
        margin-bottom: 0;
        font-weight: 600; }
      .main-banner .banner-content .popup-box h3 {
        font-weight: 300;
        font-size: 25px; }
      .main-banner .banner-content .popup-box desc {
        font-size: 14px; }

@media (max-width: 767px) {
  h1.banner-header br {
    display: none; }

  .contact-menu {
    display: none; } }
.full-width {
  text-align: center;
  padding: 8% 0; }
  .full-width a.button {
    margin: 4% 0 0 0;
    background-color: #fff;
    border: 1px solid #1fabec;
    padding: 10px 38px;
    color: #1fabec; }

.image-text-box {
  background-color: #f5f5f5; }
  .image-text-box .row .col-md-8 .row {
    height: 544px;
    background-size: cover; }
  .image-text-box img {
    width: 100%;
    height: 100%; }
  .image-text-box .right-text {
    padding: 4% 3%; }
  .image-text-box h2 {
    font-size: 36px; }
  .image-text-box a, .image-text-box button {
    margin-top: 9%; }
  .image-text-box i.right-arrow {
    margin: 0 0 0 18px; }

@media (max-width: 768px) {
  .right .col-md-8 {
    order: 1; }
  .right .col-md-4 {
    order: 2; }

  .image-text-box .row .col-md-8 .row {
    height: 300px; } }
footer {
  padding-top: 5%;
  text-align: center; }
  footer .footer-menu {
    background-color: #6f6f6f;
    position: relative;
    padding: 15px 0 1px 0; }
    footer .footer-menu .menu {
      padding: 0; }
      footer .footer-menu .menu li {
        display: inline-block; }
        footer .footer-menu .menu li a {
          color: #fff;
          font-size: 15px;
          text-transform: uppercase; }
          footer .footer-menu .menu li a:after {
            content: ' /';
            padding: 0 6px; }
  footer .go-to-top {
    float: right;
    padding: 10px 15px;
    cursor: pointer;
    background: #1fabec;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    color: #fff; }
  footer .partner-logos ul {
    margin: 0;
    padding: 52px 0; }
    footer .partner-logos ul li {
      display: inline-block; }
      footer .partner-logos ul li a img {
        width: 135px; }
  footer .copyright {
    padding-bottom: 10px; }

.footer-menu .menu li:last-child a:after {
  display: none; }

/*# sourceMappingURL=style.css.map */
