.full-width{
    text-align: center;
    padding: 8% 0;
    a.button{
        margin: 4% 0 0 0;
        background-color: $light;
        border: 1px solid $primary;
        padding: 10px 38px;
        color: $primary;
    }
}